/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {

    .info {
        display: none;
    }

    #wrapper {
        width: 320px;
        height: 240px;
        margin: -120px 0 0 -160px;
    }

    #wrapper .title {
        font-size: 1.2em;
    }

    #wrapper .content {
        font-size: 3.2em;
    }

}
